<MainPicture>
    <img src="images/homePicture.jpg" width="100" height="100" />
</MainPicture>


<div>
    <NavLink class="list-group-item list-group-item-action bg-light" href="/" Match="NavLinkMatch.All">
        Home
    </NavLink>
    <NavLink class="list-group-item list-group-item-action bg-light" href="/registeroverview">
        Persons
    </NavLink>
</div>
